/*stylesheet for aboutMe page*/
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
body {
  background-color:#282828;
  font-family: 'Open Sans Condensed', sans-serif;;
  padding: ;
  font-size: 20px;
  color: ;
}

h1, h3 {
  color: ;
}

h1 {
  text-align: center;
  font-family: ;
  font-size: ;
}

img {
  width: 150px;
  border-radius: 100%;
}
