/*This is the css for our website. */
p{

  color: black;

}


div{
   width: 300px;
   border: 25px
   border-color: green;
   padding: 25px;
   margin: 25px;

}
.special{

  color: green;
}

.box{


}
#highlight{

  background-color: yellow;
}
