/*This is the css for our website. */
p{

  color: black;

}

body{
  text-align: center;
}
div{
border-top: 400;
border-bottom: 400;
border-left: 400;
border-right: 400;
border-color: pink; 

}
.special{

  color: green;
}

.box{


}
#highlight{

  background-color: yellow;
}
