/*This is the css for our website. */
p{

  color: black;

}

body{
  text-align: center;
}
div{
width: 400;
height: 400;


}
.special{

  color: green;
}

.box{


}
#highlight{

  background-color: yellow;
}
